#boxes {
    margin-top: 10%;
    margin-left: 20%;
}

body {
    background-image: url("https://i.pinimg.com/originals/59/e7/58/59e758cd94b6a989aa2cc7b4eeb68098.jpg");
}

#resultbox{
    padding:7%;
    border: 2px solid black;
    text-align: left;
}

#showcalculation{
    text-align: center;
}